<div class="registration-form">
  <h1 class="text-center">Account Creation</h1>
  <div class="bar mb-5"></div>

  <div id="message" class="text-danger text-center mb-5"></div>

  <form
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmit()"
    class="form-register needs-validation row"
    autocomplete="off"
    novalidate
  >
    <div class="form-group col-md-6">
      <label for="firstName" class="form-label">First Name</label>
      <input
        class="form-control"
        id="firstName"
        type="text"
        formControlName="firstName"
        placeholder="Enter your first name"
        required
      />
      <div class="invalid-feedback">
        
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="lastName" class="form-label">Last Name</label>
      <input
        class="form-control"
        id="lastName"
        type="text"
        formControlName="lastName"
        placeholder="Enter your last name"
        required
      />
    </div>
    <div class="form-group col-md-6">
      <label for="username" class="form-label pt-3"
        >Username
        <small style="font-size: 0.75em; font-style: italic"
          >&mdash; This can be changed at any time.</small
        ></label
      >
      <input
        class="form-control"
        id="username"
        type="text"
        formControlName="username"
        placeholder="Enter your desired username"
        required
      />
    </div>
    <div class="form-group col-md-6">
      <label for="email" class="form-label pt-3">E-mail</label>
      <input
        class="form-control"
        id="email"
        type="text"
        formControlName="email"
        placeholder="Enter your e-mail"
        required
      />
    </div>

    <div class="form-group col-md-6 pt-3">
      <label class="form-label" for="password">Password</label>
      <input
        class="form-control"
        id="password"
        type="password"
        formControlName="password"
        placeholder="Enter your password"
        required
      />
      <i class="bi bi-eye" (click)="togglePassword($event)"></i>
    </div>

    <div class="form-group col-md-6 pt-3">
      <label class="form-label" for="password"
        >Confirm Password</label
      >
      <input
        class="form-control"
        id="confirm-password"
        type="password"
        formControlName="confirmPassword"
        placeholder="Confirm your password"
        required
      />
      <i class="bi bi-eye" (click)="togglePassword($event)"></i>
    </div>

    <div class="col-md-6">
      <button class="button dark mt-5 mb-5" type="submit">Register</button>
    </div>
  </form>
</div>
