.icon-right {
  padding-left: 0.4rem;
}

.icon-left {
  padding-right: 0.4rem;
}

::ng-deep .custom-tooltip {
  white-space: pre-line !important;
  font-size: 13px;
  line-height: 1.4;
}

.mat-mdc-fab,
.mat-mdc-fab.mat-mdc-fab-extended {
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
