@switch (true) {
  @case (isLoading()) {
    <app-full-page-loader [message]="'recipes.list.' + source() + '.loading'" />
  }

  @case (hasError()) {
    <ng-container *ngTemplateOutlet="loadingError"></ng-container>
  }

  @default {
    <ng-container *ngTemplateOutlet="recipeList"></ng-container>
  }
}

<ng-template #loadingError>
  <section class="h-full flex justify-center items-center">
    <span class="text-red-500">
      {{ 'recipes.list.' + source() + '.errorLoading' | translate }}
    </span>
  </section>
</ng-template>

<ng-template #recipeList>
  <app-fluid-container [pageTitle]="pageTitle()" [size]="'xl'">
    <div actions class="flex gap-2 pb-4 sm:pb-0">
      <app-button
        color="primary"
        size="sm"
        [routerLink]="'/app/recipes/edit/new'"
        label="recipes.edit.addButton"
        icon="add"
      />
    </div>

    @if (loadedRecipes().length === 0) {
      <section class="flex flex-col flex-1 items-center text-center gap-4">
        <mat-icon class="size-18! text-7xl!">restaurant</mat-icon>

        <h2 class="text-xl">
          {{ 'recipes.list.' + source() + '.noRecipes.title' | translate: { appName } }}
        </h2>

        <span>{{ 'recipes.list.' + source() + '.noRecipes.empty' | translate }}</span>

        <span>{{ 'recipes.list.' + source() + '.noRecipes.clickToAdd' | translate }}</span>
      </section>
    } @else {
      <div class="flex flex-col gap-4">
        <app-recipe-card-list [source]="source()" [recipes]="loadedRecipes()" />

        <app-pagination
          class="mt-8"
          [currentPage]="currentPage"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          [totalItems]="totalRecipes()"
          [totalPages]="totalPages()"
          (pageChange)="loadPage($event)"
          (pageSizeChange)="changePageSize($event)"
        />
      </div>
    }
  </app-fluid-container>
</ng-template>
