<header>
  <nav class="navbar navbar-expand-md fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        Recipe Repository
      </a>

      <!-- Responsive navbar toggler -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Content -->
      <div class="collapse navbar-collapse" id="navbarCollapse">

        <!-- Links -->
        <ul class="navbar-nav" id="nav-items">
          <li class="nav-item">
            <a class="nav-link {{ this.getRouter().url === '/' ? 'active' : '' }}" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ this.getRouter().url === '/recipes/add' ? 'active' : '' }}" routerLink="/recipes/add">Add Recipe</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link {{ this.getRouter().url.startsWith('/courses/') ? 'active' : '' }}" href="#" id="coursesDropdown" data-bs-toggle="collapse" data-bs-target="#coursesCollapse" aria-expanded="false">Courses <i
              id="coursesChevron"
              class="bi bi-chevron-right"
            ></i
          ></a>
            <ul class="dropdown-menu dropdown-menu-dark  courses-dropdown collapse" id="coursesCollapse" data-bs-parent="#nav-items" aria-labelledby="coursesDropdown">
              <li><a class="dropdown-item disabled" href="#">Breakfast</a></li>
              <li><a class="dropdown-item disabled" href="#">Lunch & Dinner</a></li>
              <li><a class="dropdown-item disabled" href="#">Dessert</a></li>
              <li><a class="dropdown-item disabled" href="#">Snacks</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link {{ this.getRouter().url.startsWith('/cuisines/') ? 'active' : '' }}" href="#" id="cuisinesDropdown" data-bs-toggle="collapse" data-bs-target="#cuisinesCollapse" aria-expanded="false">Cuisines <i
              id="cuisinesChevron"
              class="bi bi-chevron-right"
            ></i
          ></a>
            <ul class="dropdown-menu dropdown-menu-dark cuisines-dropdown collapse" id="cuisinesCollapse" data-bs-parent="#nav-items" aria-labelledby="cuisinesDropdown">
              <li><a class="dropdown-item disabled" href="#">American</a></li>
              <li><a class="dropdown-item disabled" href="#">Mexican</a></li>
              <li><a class="dropdown-item disabled" href="#">Italian</a></li>
            </ul>
          </li>
          <li *ngIf="authenticated()" class="nav-item dropdown">
            <a class="nav-link {{ this.getRouter().url.startsWith('/user? account?/') ? 'active' : '' }}" href="#" id="userDropdown" data-bs-toggle="collapse" data-bs-target="#userCollapse" aria-expanded="false"><img
              src="/assets/images/default-profile-avatar.png"
              alt="Avatar"
              width="36"
              height="36"
              class="rounded-circle"
            />  <i
            id="userChevron"
            class="bi bi-chevron-right"
          ></i
        ></a>
            <ul class="dropdown-menu dropdown-menu-dark user-dropdown collapse" id="userCollapse" data-bs-parent="#nav-items" aria-labelledby="userDropdown">
              <div id="userDetails">
                <li><h5 class="full-name">{{ getAuthenticatedUser()!.getFullName() }}</h5></li>
                <li><h5 class="username">{{ getAuthenticatedUser()!.username }}</h5></li>
              </div>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item disabled"><i class="bi bi-person"></i> Your profile</a></li>
              <li><a class="dropdown-item disabled"><i class="bi bi-gear"></i> Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" id="signOut" (click)="deauthenticate()">Sign out</a></li>
            </ul>
          </li>
          <li *ngIf="!authenticated()" class="nav-item">
            <a class="nav-link btn btn-secondary" routerLink="/users/login">Log In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>