<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        Recipe Repository
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Content -->
      <div class="collapse navbar-collapse" id="navbarCollapse">

        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Add Recipe</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="coursesDropdown" data-bs-toggle="collapse" data-bs-target=".courses-dropdown" aria-expanded="false">Courses <i
              id="coursesChevron"
              class="bi bi-chevron-right"
            ></i
          ></a>
            <ul class="dropdown-menu courses-dropdown collapse" aria-labelledby="coursesDropdown">
              <li><a class="dropdown-item" href="#">Breakfast</a></li>
              <li><a class="dropdown-item" href="#">Lunch & Dinner</a></li>
              <li><a class="dropdown-item" href="#">Dessert</a></li>
              <li><a class="dropdown-item" href="#">Snacks</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="cuisinesDropdown" data-bs-toggle="collapse" data-bs-target=".cuisines-dropdown" aria-expanded="false">Cuisines <i
              id="cuisinesChevron"
              class="bi bi-chevron-right"
            ></i
          ></a>
            <ul class="dropdown-menu cuisines-dropdown collapse" aria-labelledby="cuisinesDropdown">
              <li><a class="dropdown-item" href="#">American</a></li>
              <li><a class="dropdown-item" href="#">Mexican</a></li>
              <li><a class="dropdown-item" href="#">Italian</a></li>
            </ul>
          </li>
          <li *ngIf="authenticated()" class="nav-item dropdown">
            <a class="nav-link" href="#" id="cuisinesDropdown" data-bs-toggle="collapse" data-bs-target=".user-dropdown" aria-expanded="false"><img
              src="/assets/images/default-profile-avatar.png"
              alt="Avatar"
              width="36"
              height="36"
              class="rounded-circle"
            />  <i
            id="cuisinesChevron"
            class="bi bi-chevron-right"
          ></i
        ></a>
            <ul class="dropdown-menu dropdown-menu-end user-dropdown collapse" aria-labelledby="userDropdown">
              <li><h6 class="dropdown-header">{{ getAuthenticatedUser()!.getFullName() }}</h6></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" id="signOut" (click)="deauthenticate()">Sign out</a></li>
            </ul>
          </li>
          <li *ngIf="!authenticated()" class="nav-item">
            <a class="nav-link btn btn-secondary" routerLink="/users/login">Log In</a>
          </li>
        </ul>

        <!-- User Profile -->
        <!--<div *ngIf="authenticated()" class="user-dropdown">
          <a
            href="#"
            class="d-flex align-items-center text-decoration-none dropdown-toggle"
            id="userDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="/assets/images/default-profile-avatar.png"
              alt="Avatar"
              width="42"
              height="42"
              class="rounded-circle"
            />
          </a>
          <ul class="dropdown-menu dropdown-menu-end text-small shadow">
            <li><span class="dropdown-item fw-bold">{{ getAuthenticatedUser()!.getFullName() }}</span></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" id="signOut" (click)="deauthenticate()">Sign out</a></li>
          </ul>
        </div>-->

      </div>
    </div>
  </nav>
</header>

<!--<header class="header top-bar">
    <div class="logo d-flex justify-content-center align-items-center">
        <a routerLink="/">
            <img src="https://ronbodnar.com/assets/img/header.png" id="nav-header" alt="MRon Development" />
        </a>
    
        <div class="header-toggle-mobile"><i class="bi bi-list"></i></div>
    </div>

    <div class="">
        <span *ngIf="authenticated()">You are authenticated!</span>
        <span *ngIf="!authenticated()">You are NOT authenticated!</span>
        <button *ngIf="authenticated()" class="btn btn-secondary ms-5" (click)="deauthenticate()">Log Out</button>
        <button *ngIf="!authenticated()" class="btn btn-secondary ms-5" routerLink="/users/login">Log In</button>
    </div>

    <div class="d-flex justify-content-end align-items-center">
        <div class="dropdown">
            <a href="#" class="text-mron d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/assets/images/default-profile-avatar.png" alt="Avatar" width="32" height="32" class="rounded-circle">
                <span class="d-none d-sm-inline mx-2">Ron Bodnar</span>
            </a>
            <ul class="dropdown-menu text-small shadow">
                <li>
                    <a class="dropdown-item d-flex justify-content-between">
                        <label class="form-check-label d-inline-block" for="darkModeSwitch">Dark Mode</label>
                        <div class="form-check form-switch d-inline-block">
                            <input class="form-check-input" type="checkbox" id="darkModeSwitch" onclick="toggleDarkMode()">
                        </div>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="" id="signOut">Sign out</a></li>
            </ul>
        </div>
    </div>
</header>-->
