.navbar {
  height: var(--header-height-mobile);
  max-height: var(--header-height-mobile);
}

.navbar-expand-md .navbar-collapse {
  display: flex;
  justify-content: end;
}

.navbar-brand {
  color: var(--green);
  text-transform: uppercase;
  font-variant: small-caps;
}

.nav-link {
  color: #eee;
  font-size: 1.3rem;
  text-transform: lowercase;
  font-variant: small-caps;
}

.nav-link:active {
  color: var(--green);
}

.nav-item {
  padding: .5rem .5rem;
}

.dropdown-toggle {
  color: var(--green);
}

.navbar-dark .navbar-nav .nav-link.active {
  font-weight: bold;
  color: var(--green);
}

@media screen and (min-width: 1024px) {
  .navbar {
    height: var(--header-height);
    max-height: var(--header-height);
  }
}
