* {
  color: #cccccc;
}

.header {
  width: 100%;
  min-height: var(--header-height-mobile);
  max-height: var(--header-height-mobile);
  position: fixed;
  top: 0;
  right: 0;
  z-index: var(--z-fixed);
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-bg);
}

.header-toggle {
  color: var(--mron-green);
  cursor: pointer;
}

.header-toggle i {
  font-size: 2.5rem;
}

.header-toggle-mobile {
  top: 5px;
  right: 5px;
  cursor: pointer;
  position: absolute;
}

.header-toggle-mobile i {
  font-size: 2.5rem;
  color: var(--mron-green);
}

@media screen and (min-width: 1024px) {
  .header {
    min-height: var(--header-height);
    max-height: var(--header-height);
    padding: 0 2rem 0 calc(var(--nav-width) + 1rem);
  }

  .header-toggle i {
    font-size: 1.5rem;
  }

  .header-toggle-mobile {
    display: none;
  }

  .header-toggle-mobile i {
    font-size: 2rem;
  }
}
