<header class="header top-bar">
    <div class="logo d-flex justify-content-center align-items-center">
        <a routerLink="/">
            <img src="https://ronbodnar.com/assets/img/header.png" id="nav-header" alt="MRon Development" />
        </a>
    
        <div class="header-toggle-mobile"><i class="bi bi-list"></i></div>
    </div>

    <div class="">
        <button class="btn btn-secondary" routerLink="/users/login">Log In</button>
    </div>

    <!-- If signed in, show this -->
    <!--
    <div class="d-flex justify-content-end align-items-center">
        <div class="dropdown">
            <a href="#" class="text-mron d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/assets/images/default-profile-avatar.png" alt="Avatar" width="32" height="32" class="rounded-circle">
                <span class="d-none d-sm-inline mx-2">Ron Bodnar</span>
            </a>
            <ul class="dropdown-menu text-small shadow">
                <li>
                    <a class="dropdown-item d-flex justify-content-between">
                        <label class="form-check-label d-inline-block" for="darkModeSwitch">Dark Mode</label>
                        <div class="form-check form-switch d-inline-block">
                            <input class="form-check-input" type="checkbox" id="darkModeSwitch" onclick="toggleDarkMode()">
                        </div>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="" id="signOut">Sign out</a></li>
            </ul>
        </div>
    </div>-->
</header>