@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css");

:root {
  --dark-bg: #212529;
  --dark-bg-rgb: 13, 17, 23;
  --green: #43b581;
  --green-rgb: 67, 181, 129;
  --white: #eaeaea;

  --radio-outline-color: #c4c6c2;

  --nunito-font: "Nunito", sans-serif;

  --light-text-color: #7f7f7f;
  
  --nav-width: 0px;

  --background-color: var(--dark-bg);

  --z-fixed: 100;

  --header-height-mobile: 4rem;
  --header-height: 4rem;

  --footer-height-mobile: 5rem;
  --footer-height: 2.5rem;

  --radio-outline-color: #c4c6c2;
  --card-border-color: #c4c6c2;
  --light-text-color: #cccccc;
  --background-color: #eeeeee;
  --secondary-background-color: #eaeaea;
  --input-background-color: #ffffff;
  --box-shadow-color: lightgray;
  --separator-text-color: #ababab;
  --separator-line-color: lightgray;
  --scrollbar-color: rgba(127, 127, 127, 0.6);
}

/*
 * Global page styles
 */
* {
  margin: 0;
  padding: 0;
  font-family: var(--nunito-font);
}

body {
  background-color: var(--radio-outline-color) !important;
}

.container-full-page {
  margin: 0 auto;
  margin-top: var(--header-height-mobile);
  min-height: calc(100dvh - var(--header-height-mobile) - var(--footer-height-mobile));
  width: 100vw;
  max-width: 100vw;
  padding: 1rem 1rem;
  box-shadow: inset 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
  background-color: var(--secondary-background-color);
}

.bar {
  margin: auto;
  width: 125px;
  height: 3px;
  background-color: var(--green) !important;
  border-color: var(--green) !important;
  border-radius: 10px;
}

/* Fix for auto-fill input styles. */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

/*
 * Show / Hide password eye
 */
.bi-eye,
.bi-eye-slash {
  font-size: 1.1em;
  cursor: pointer;
  position: relative;
  float: right;
  margin-top: -1.65em;
  margin-right: 0.25em;
  color: var(--dark-bg);
}

/* Remove the eye that pops up with IE/Edge */
::-ms-reveal {
  display: none;
}

/* Overlay loading style */
.loader {
  margin: 50px auto 0;
  border: 12px solid #eee;
  border-top: 12px solid var(--green);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.25s linear infinite;
  display: flex;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
 * Global text styles
 */
.text-green {
  color: var(--green);
  transition: 0.3s all ease-in-out;
}

a.text-green {
  text-decoration: none;
}

a.text-green:hover {
  color: var(--green);
  opacity: 0.6;
}

/*
 * Global button styles
 */
.button {
  color: var(--white);
  padding: 0.5em 1em;
  border-radius: 5px;
  min-height: 2.5em;
  white-space: nowrap;
  border: none;
  transition: 0.3s opacity ease-in-out;
}

.button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.7;
  cursor: default;
}

.button.green {
  background-color: var(--green);
}

.button.gray {
  background-color: darkgray;
}

.button.dark {
  background-color: var(--dark-bg);
}

@media screen and (min-width: 1024px) {
  .container-full-page {
    margin: 0 auto;
    margin-top: var(--header-height);
    padding: 1.5rem 1.5rem;
    min-height: calc(100dvh - var(--header-height) - var(--footer-height));
    width: 75%;
    box-shadow: inset 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
    background-color: var(--secondary-background-color);
  }
}
