<form [formGroup]="form()" (ngSubmit)="submit()">
  <div class="flex flex-col gap-2">
    <app-image-selector
      class="self-center mb-6"
      label="Profile picture"
      [existingImages]="getExistingProfileImages()"
      (imagesSelected)="onProfileImagesSelected($event)"
      (imageRemoved)="onProfileImageRemoved($event)"
    />

    <nmf-text
      label="Display Name"
      formControlName="displayName"
      [loading]="form().get('displayName')?.value === ''"
    />

    <nmf-text
      type="email"
      label="Email"
      formControlName="email"
      [loading]="form().get('email')?.value === ''"
    />

    <nmf-text
      label="Given Name"
      formControlName="givenName"
      [loading]="form().get('givenName')?.value === ''"
    />

    <nmf-text
      label="Family Name"
      formControlName="familyName"
      [loading]="form().get('familyName')?.value === ''"
    />

    <div class="flex gap-6 items-center">
      <app-button
        type="submit"
        label="Save"
        [disabled]="!form().dirty || status() === 'submitting'"
        [loading]="status() === 'submitting'"
      />

      @if (status() === 'success') {
        <span class="text-success">Profile updated successfully!</span>
      } @else if (status() === 'error') {
        <span class="text-danger">Error updating profile.</span>
      }
    </div>
  </div>
</form>
