<form [formGroup]="form()" (ngSubmit)="submit()">
  <div class="flex flex-col gap-6">
    <app-image-selector
      class="self-center mb-6"
      [rounded]="true"
      label="settings.profile.labels.profilePicture"
      [existingImages]="getExistingProfileImages()"
      (imagesSelected)="onProfileImagesSelected($event)"
      (imageRemoved)="onProfileImageRemoved($event)"
    />

    <nmf-mat-text
      label="settings.profile.labels.displayName"
      formControlName="displayName"
      [loading]="form().get('displayName')?.value === ''"
    />

    <nmf-mat-text
      type="email"
      label="settings.profile.labels.email"
      formControlName="email"
      [loading]="form().get('email')?.value === ''"
    />

    <nmf-mat-text
      label="settings.profile.labels.givenName"
      formControlName="givenName"
      [loading]="form().get('givenName')?.value === ''"
    />

    <nmf-mat-text
      label="settings.profile.labels.familyName"
      formControlName="familyName"
      [loading]="form().get('familyName')?.value === ''"
    />

    <div class="flex gap-6 items-center">
      <app-button
        type="submit"
        label="settings.profile.saveButton"
        [disabled]="!form().dirty || status() === 'submitting'"
        [loading]="status() === 'submitting'"
      />

      @if (status() === 'success') {
        <span class="text-success">{{ 'settings.profile.successMessage' | translate }}</span>
      } @else if (status() === 'error') {
        <span class="text-danger">{{ 'settings.profile.errorMessage' | translate }}</span>
      }
    </div>
  </div>
</form>
