<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Display Name</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td class="text-center">
        <a (click)="removeUser(user)"
          ><i class="bi bi-trash" style="color: red; font-size: 18px"></i
        ></a>
      </td>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.displayName }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>
        <a href="mailto:{{ user.email }}">{{ user.email }}</a>
      </td>
    </tr>
  </tbody>
</table>
