.navbar {
  height: var(--header-height-mobile);
  max-height: var(--header-height-mobile);
  transition: 0.6s all ease-in-out;
}

.navbar-brand {
  color: var(--green);
  text-transform: uppercase;
  font-variant: small-caps;
}

.nav-link {
  color: var(--light-text-color);
  font-size: 1.5rem;
  text-transform: lowercase;
  font-variant: small-caps;
}

.nav-link:active {
  color: var(--green);
}

.nav-item {
  padding: 0.5rem 1rem;
}

.dropdown-toggle {
  color: var(--green) !important;
}

.dropdown-menu.collapsing {
  display: block;
}

.dropdown-menu {
  padding: 0 !important;
}

.dropdown-menu .dropdown-item:first-child {
  margin-top: 0.5em;
}

.dropdown-menu .dropdown-item:last-child {
  margin-bottom: 0.5em;
}

.dropdown-menu-dark {
  border-color: transparent;
  background-color: var(--dark-bg);
}

.navbar-nav .nav-link.active {
  color: var(--green);
}

.navbar-expand-md .navbar-collapse {
  position: absolute;
  top: var(--header-height-mobile);
  left: 0;
  background-color: var(--dark-bg);
  width: 100%;
  padding-bottom: 1rem;
}

.user-dropdown {
  padding-left: 1rem;
}

.bi-chevron-right {
  position: absolute;
  right: 15px;
}

.rotate-chevron {
  transform: rotate(90deg);
}

.dropdown-menu.show {
  transition: 2s all ease-in-out;
}

.navbar-toggler {
  color: var(--light-text-color);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem;
  border: none;
}

#userDetails .full-name {
  padding: 0.5rem 1rem 0;
  font-size: 1.1em;
  color: var(--light-text-color);
  font-weight: 800;
}

#userDetails .username {
  padding: 0 1rem;
  font-size: 0.8em;
}

#userDetails .username:before {
  content: "@";
}

@media screen and (min-width: 1024px) {
  .navbar {
    height: var(--header-height);
    max-height: var(--header-height);
  }

  .nav-link {
    font-size: 1.3rem;
  }

  .nav-item {
    padding: 0.5rem 0.5rem;
  }

  .navbar-expand-md .navbar-collapse {
    position: inherit;
    top: auto;
    left: auto;
    display: flex;
    justify-content: end;
    padding-bottom: 0;
    max-height: var(--header-height);
  }

  .dropdown-menu-dark {
    color: var(--dark-bg);
    background-color: var(--secondary-background-color);
    border-color: rgba(0, 0, 0, 0.15);
  }

  .dropdown-menu-dark .dropdown-item:not(.disabled) {
    color: var(--dark-bg);
  }

  .bi-chevron-right {
    position: absolute;
    font-size: 1rem;
    right: 0.75rem;
    top: 1.32rem;
  }

  .nav-link[data-bs-toggle="collapse"] {
    padding-right: 1.5rem;
  }

  .nav-link.btn {
    margin-left: 0.5rem;
  }

  .dropdown-menu {
    top: calc(var(--header-height) + 0.25rem);
  }

  .user-dropdown {
    right: 0.5rem;
    min-width: 175px;
  }

  .dropdown-item {
    cursor: pointer;
  }

  #userDetails .full-name {
    color: var(--dark-bg);
  }
}
