<h1 class="text-center">Account Login</h1>
<div class="bar mb-5"></div>

<div *ngIf="this.successfulRegistration" class="regristration-message">
  Your account has been created successfully!<br /><br />Please log in using your username and password.
</div>

<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  class="form-signin needs-validation"
  autocomplete="off"
  novalidate
>
  <div class="form-group">
    <label for="username" class="form-label">Username</label>
    <input
      class="form-control"
      id="username"
      type="text"
      formControlName="username"
      placeholder="Username"
      required
      autofocus
    />
  </div>

  <div class="form-group">
    <label class="form-label mt-4" for="password">Password</label>
    <input
      class="form-control"
      id="password"
      type="password"
      formControlName="password"
      placeholder="Password"
      required
    />
    <i class="bi bi-eye" (click)="togglePassword($event)"></i>
  </div>

  <div id="error" class="error mt-2"></div>

  <button
    id="loginButton"
    class="button dark mb-3"
    type="submit"
    [disabled]="!this.loginForm.valid"
  >
    <span
      id="loadingSpinner"
      class="spinner-border spinner-border-sm"
      role="status"
      aria-hidden="true"
      hidden
    ></span>
    <span class="visually-hidden">Loading...</span>
    Log in
  </button>

  <p>
    <a class="small" style="font-weight: 600" routerLink="/users/register"
      >Need to create an account?</a
    >
  </p>
</form>
