<footer class="footer bg-dark">
  <div class="container-fluid row">
    <div class="col-md-6">
      Copyright (&copy;) 2024
      <a class="text-green" href="https://ronbodnar.com/" target="_blank"
        >Ron Bodnar</a
      >.
    </div>

    <div class="col-md-6">
      <a class="text-green" href="https://github.com/ronbodnar/recipe-repository" target="_blank"
        ><i class="bi bi-github"></i
      ></a>
      <a class="text-green" href="#"
        ><i class="bi bi-twitter-x ms-3"></i
      ></a>
      <a class="text-green" href="#"
        ><i class="bi bi-instagram ms-3"></i
      ></a>
      <a class="text-green" href="#"
        ><i class="bi bi-facebook ms-3"></i
      ></a>
    </div>
  </div>
</footer>
